{{> head }}

    
    {{> navbar }}
<div class="container">
<div class="row">
        <div class="col-8">
            <h1> Bob esponja </h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, maiores magnam id ex minus similique aliquid rem accusantium, neque possimus omnis cumque consequatur sint ab ipsa, alias impedit dignissimos ratione.
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/Ois.jpg" class="img-thubnail" style="max-width: 100%;">
        </div>
    </div>
</div>
{{> footer }}